# Statistical tests
## Type 1 errors

In [1]:
import pandas as pd
import scipy as scp
import seaborn as sns

In [2]:
#importing the csv file
data_wealth=pd.read_csv("Top_1000_wealthiest_people.csv")
data_wealth

,Name,Country,Industry,Net Worth (in billions),Company
0,Rob Walton,Mexico,Finance,8.50,Walmart
1,Sergey Brin,USA,Automotive,44.76,Google
2,Steve Ballmer,USA,Manufacturing,13.43,Koch Industries
3,Mukesh Ambani,USA,Technology,120.44,Google
4,Jim Walton,USA,Fashion,122.39,Walmart
...,...,...,...,...,...
995,Warren Buffett,USA,Retail,142.66,Facebook
996,Amancio Ortega,USA,Media,166.87,Walmart
997,Alice Walton,USA,Retail,30.44,Walmart
998,Amancio Ortega,Spain,Retail,163.18,Reliance Industries
999,Jim Walton,USA,Retail,186.94,Berkshire Hathaway

Statistical tests relating to type 1 errors

In [8]:
were=data_wealth.head(2)
were

          Name Country    Industry  Net Worth (in billions)  Company
0   Rob Walton  Mexico     Finance                     8.50  Walmart
1  Sergey Brin     USA  Automotive                    44.76   Google

In [3]:
import scipy.stats as stats

In [ ]:

#
scores = data_wealth['Net Worth (in billions)']

# Hypothesized population mean
hypothesized_networth = 50

# Perform a one-sample t-test
t_stat, p_value = stats.ttest_1samp(scores, hypothesized_networth)

# Print the results
print("t-statistic:", t_stat)
print("p-value:", p_value)

# Interpret the results
alpha = 0.05  # Significance level
if p_value < alpha:
    print("Reject the null hypothesis. The sample Networth is significantly different from the hypothesized mean.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between the sample mean and the hypothesized mean.")

t-statistic: 29.295562042441457
p-value: 1.1316975465884372e-136
Reject the null hypothesis. The sample Networth is significantly different from the hypothesized mean.

In [19]:

#Type 1 error maybe
scores = data_wealth['Net Worth (in billions)']

# Hypothesized population mean
hypothesized_networth = 50

# Perform a one-sample t-test
t_stat, p_value = stats.ttest_1samp(scores, hypothesized_networth)

# Print the results
print("t-statistic:", t_stat)
print("p-value:", p_value)

# Interpret the results
alpha = 0.15  # Significance level increased to 0.15 creates your type 1 error
if p_value < alpha:
    print("Reject the null hypothesis. The sample Networth is significantly different from the hypothesized networth.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between the sample networth and the hypothesized networth.")

t-statistic: 29.295562042441457
p-value: 1.1316975465884372e-136
Reject the null hypothesis. The sample Networth is significantly different from the hypothesized networth.

## USING THE DATA HEAD

In [25]:
#
scores = were['Net Worth (in billions)']

# Hypothesized population mean
hypothesized_networth = 50

# Perform a one-sample t-test
t_stat, p_value = stats.ttest_1samp(scores, hypothesized_networth)

# Print the results
print("t-statistic:", t_stat)
print("p-value:", p_value)

# Interpret the results
alpha = 0.5 # Significance level
if p_value < alpha:
    print("Reject the null hypothesis. The sample Networth is significantly different from the hypothesized mean.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference between the sample mean and the hypothesized mean.")

t-statistic: -1.2890237175951462
p-value: 0.420040303362666
Reject the null hypothesis. The sample Networth is significantly different from the hypothesized mean.